@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Merriweather Sans', sans-serif;
}

body {
	background-image: url("/image/cloud.jpeg");
	background-size: cover;
	height: 100vh;
}

.spacer {
	width: 100%;
	height: auto;
}

input {
	width: 100%;
	height: 38px;
	background: #ebf1f3;
	border: 1px solid black;
	border-radius: 5px;
}

nav {
	margin-right: 30px;
}

.served-by_text {
	word-spacing: 5px;
	letter-spacing: 1px;
}

.page_served-by {
	margin: 10px;
	padding-right: 30px;
	font-weight: bolder;
}

.page_served-by,
.toolbar {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-left: 20px;
	padding-top: 15px;
}

img {
	width: 40px;
	height: 40px;
	margin-right: 15px;
	// margin-bottom: 10px;
}

.umbrella,
.wind_icon {
	margin-bottom: 10px;
}

.search {
	width: 30px;
	height: 30px;
	padding: 5px;
}

.menu {
	width: 30px;
	height: 30px;
	padding: 5px;
}

span {
	padding: 7px;
	text-align: center;
}

button {
	background: transparent;
	border-radius: 5px;
	border: 1px solid black;
	cursor: pointer;
	margin-left: 15px;
	display: flex;
}

.button-search,
.button-menu {
	padding: 3px;
}

.main-form {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-form {
	z-index: 999;
	position: absolute;
	width: 400px;
	height: auto;
	background: #ebf1f3;
	padding: 40px;
	box-shadow: 1px 1px 3px 2px rgb(212, 212, 212);
	top: 0;
	margin-top: 20px;
}

li {
	margin: 20px;
	list-style: none;
	border-bottom: 1px solid black;
}

a {
	display: block;
	text-align: left;
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
	background: transparent;
}

.close-img {
	text-align: center;
	margin-bottom: 20px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.li-img {
	text-align: right;
}

.places,
.places2 {
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 3rem 5rem;
	justify-content: space-between;
}

.result_block {
	text-align: center;
	margin-top: 5rem;
}

.city {
	font-weight: bold;
	letter-spacing: 1.5px;
}

.umbrella {
	width: 24px;
	height: 19px;
}

.imgHumidity,
.direction,
.wind_icon {
	width: 24px;
	height: 24px;
	margin-bottom: 10px;
}

.percent {
	font-size: 20px;
	// padding-left: 0;
}

.milimeter,
.per_hour {
	font-size: small;
}

.smallWindDegrees,
.condition,
.humidity,
.windDegrees,
.degrees,
.celsius,
.milimeters_numbers,
.wind_number {
	font-size: xx-large;
}

.celsius {
	color: red;
}

.smallWindDegrees,
.celsius,
.per_hour {
	padding-left: 0;
}

.condition,
.humidity,
.windDegrees,
.degrees,
.milimeters_numbers,
.wind_number {
	padding-right: 0;
}

.milimeter {
	color: blue;
	font-weight: bold;
}

.smallPerHour {
	padding-right: 0;
	padding-left: 0;
}

.footer {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
}

@media screen and(max-width: 768px) {
	body {
		height: 100%;
	}
	.buttons {
		width: 100%;
	}
	.places2,
	.places {
		display: block;
		margin-left: 7rem;
		justify-content: start;
		align-items: center;
		text-align: start;
	}
	.footer {
		width: 100%;
		bottom: 0;
		position: relative;
		margin-bottom: 20px;
	}
	.page_served-by {
		text-align: center;
		justify-content: center;
		padding: 10px 0;
	}
}